<footer id="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>
          Paid for by Arkansas Liberty Coalition.<br>
          Not authorized or paid for by any candidate or candidate's committee.
        </p>
        <p>
          ALC is a 501(c)4 nonprofit organization. Contributions to ALC are not
          tax-deductible.
        </p>
        <p>&copy; 2019 Arkansas Liberty Coalition. All Rights Reserved.</p>
      </div>
    </div>
  </div>
  Footer goes here
</footer>
